apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: bigbang
configMapGenerator:
  - name: bigbang-target-values
    files:
      - values.yaml=values.yaml
generatorOptions:
  disableNameSuffixHash: true
  labels:
    reconcile.fluxcd.io/watch: Enabled
