apiVersion: v1
kind: Secret
metadata:
  name: atum-keycloak-reconcile
  namespace: keycloak
  annotations:
    atum.dev/identity-digest: ${ATUM_IDENTITY_DIGEST}
type: Opaque
stringData:
  username: ${ATUM_IDENTITY_ADMIN_USERNAME}
  password: ${ATUM_IDENTITY_ADMIN_PASSWORD}
  group: ${ATUM_IDENTITY_ADMIN_GROUP}
  bootstrap-password: ${ATUM_IDENTITY_BOOTSTRAP_PASSWORD}
{{- range .Confidential }}
  {{ .ID }}: {{ .Reference }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: atum-openbao-reconcile
  namespace: vault
  annotations:
    atum.dev/identity-digest: ${ATUM_IDENTITY_DIGEST}
type: Opaque
stringData:
  client-id: {{ .OpenBao.ID }}
  client-secret: {{ .OpenBao.Reference }}
  group: ${ATUM_IDENTITY_ADMIN_GROUP}
