apiVersion: v1
kind: Secret
metadata:
  name: atum-platform-identity-values
  namespace: bigbang
  labels:
    reconcile.fluxcd.io/watch: Enabled
  annotations:
    atum.dev/identity-digest: ${ATUM_IDENTITY_DIGEST}
type: Opaque
stringData:
  values.yaml: |
{{ indent 4 .Values }}
